:root {
    --color-text: #0d0d0f; 
    --color-background: #f3f3f8;
    --color-primary: #4a55c5;
    --color-secondary: #8b94ee; 
    --color-accent: #4051fd;
}

article {
    margin: 0;
}

footer {
    div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-secondary);

        div:first-child {
            img {
                width: 100px;
                height: 100px;
                border-radius: 41px;
            }
        }
    }
    div:nth-child(2) {
        background-color: var(--color-primary);
    }
}