bigdata.sql linguist-vendored # Hide large SQL data (otherwise we get 95% SQL)
* text=auto                   # LF normalization
*.h linguist-language=C       # linguist has a tendency to flag .h as C++
