.dynamic-table {
    background-color: #EEE;
    margin: 0 auto;
}

/* Ligne d'entrée. Il faut la différencier des autres pour que l'utilisateur ne la confonde pas avec les lignes du tbody */
.dynamic-table tfoot {
    background-color: #DDD;
}

.dynamic-table td {
    padding: .5em;
}

.dynamic-table button {
    font-size: 1.25em;
    width: 1.25em;
    height: 1.25em;
    padding: 0;
}

.dynamic-table input[type=number] {
    width: 6em;
}