footer {
    color: white;
    margin-top: 40px;
}

footer p > a {
    font-size: x-large;
    color: unset;
}

footer > div:first-child {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secondary);
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

footer > div:first-child ul {
    padding: 1em;
    list-style: none;
    display: flex;
    column-gap: 4em;
    height: fit-content;
    align-items: center;
}

footer > div:first-child ul li img {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

footer > div:first-child > div:first-child {
    display: flex;
    column-gap: 3em;
}

footer > div:first-child > div:first-child img {
    box-sizing: content-box;
    border: 2em solid #F3F3F8;
    border-radius: 2em;
    width: 6.25em;
    height: 6.25em;
    margin: 1em;
}

footer > div:nth-child(2) {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    background-color: #4051FD;
}

@media (max-width: 576px) {
    footer > div:first-child {
        padding: 0.5em;
    }

    footer .footer-logo img {
        width: 100px;
        /* Encore plus petit pour les très petits écrans */
    }

    footer .social-links li img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .social-links {
        display: none !important;
    }

    footer > div:first-child {
        padding: 0em !important;
    }

    footer > div:first-child > div:first-child {
        column-gap: 0em !important;
    }

    footer > div:first-child {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    footer .footer-logo {
        text-align: center;
    }

    footer .footer-logo img {
        width: 150px;
        /* Réduit la taille du logo */
        height: auto;
    }

    footer .social-links {
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        padding: 1em 0;
    }

    footer .social-links li img {
        width: 50px;
        /* Réduit la taille des icônes */
        height: 50px;
    }

    footer .footer-content article {
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        padding: 1em;
    }
}