@charset "UTF-8";

@font-face {
    font-family: "Tw Cen MT";
    src: url("../fonts/Tw Cen MT.ttf") format("truetype");
}

:root {
    --color-text: #0d0d0f;
    --color-background: #f3f3f8;
    --color-primary: #4a55c5;
    --color-secondary: #8b94ee;
    --color-accent: #4051fd;
    --color-accent-hover: #4051fd80;
    font-size: 1.1em;
    font-family: "Tw Cen MT", Arial, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
input,
samp,
code,
kbd,
pre,
blockquote {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 0.25em;
}

input {
    padding: 0.25em;
}

p {
    margin: 0.5em;
}

p,
figcaption {
    line-height: 3.125ex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F8;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

header #header_pro {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 60px;
    /* ajuste la hauteur selon le besoin */
}

.error {
    margin: 0;
    color: #ca2200;
}

.success {
    margin: 0;
    color: #49ca6e;
}

.auth-button {
    display: flex;
    align-items: center;
    background-color: #4051FD;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    /* Garde le bouton à droite */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.auth-button:hover {
    text-decoration: none;
}

.auth-button img {
    height: 30px;
    margin-right: 10px;
}

.auth-button span {
    font-size: 16px;
}

@media (max-width: 768px) {
    .auth-button {
        width: 50px;
        height: 50px;
        padding: 0;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        margin: 0 5px;
    }

    .auth-button span {
        display: none;
    }

    .auth-button img {
        height: 30px;
        margin: 0;
    }
}

.acces-facturation {
    display: flex;
    align-items: center;
    background-color: #4051FD;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: auto;
    /* Garde le bouton à gauche */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.acces-facturation img {
    height: 30px;
    margin-right: 10px;
}

.acces-facturation span {
    font-size: 16px;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .auth-button {
        padding: 8px 15px;
    }

    .acces-facturation {
        padding: 8px 15px;
    }

    .logo img {
        height: 30px;
        /* Ajuster pour les plus petits écrans */
    }
}

/* Titres */
h1 {
    color: var(--color-text);
    font-weight: 500;
    font-size: 2em;
    line-height: calc(1ex / .4);
    text-align: center;
}

h2 {
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.75em;
    line-height: calc(1ex / .42);
}

h3 {
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.5em;
    line-height: calc(1ex / .38);
}

h4 {
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.25em;
    line-height: calc(1ex / .37);
}

h5 {
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.125em;
    line-height: calc(1ex / .4);
}

h6 {
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.0625em;
    line-height: calc(1ex / .5);
}

/* Styles textuels */
.text ul,
.text ol {
    display: flex;
    flex-direction: column;
    gap: .5lh;
    padding-left: 2em;

    .list {
        padding-left: 4em;
    }
}

/* Section de recherche */
.search-section {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.searchbutton {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #4051FD;
    background-color: transparent;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    color: #4051FD;
}

.searchbutton:is(:hover, :focus-within, :active) {
    background-color: #4051FD;
    color: white;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    text-decoration: none;
}

.btn-search {
    background-color: #3366cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-search:is(:hover, :focus, :focus-within) {
    background-color: #357ABD;
}

.btn-more-info {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4051FD;
    color: white;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn-more-info:is(:hover, :focus, :focus-within) {
    background-color: #1927c2;
    text-decoration: none;
}

/* Sections des rubriques */
.highlight-offers,
.new-offers,
.recently-viewed {
    margin: 20px;
    padding: 20px;
    border: 2px solid #0d0d0f;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.highlight-offers h2,
.new-offers h2,
.recently-viewed h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .search-bar input {
        width: 70%;
    }
}

/*---------acc pro------*/
/* offres en ligne et offres hors ligne*/
.offline-offers,
.online-offers {
    padding: 20px;
    margin: 20px;
    border: 2px solid #0d0d0f;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.offer-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    background-color: white;
}

/* Create offer button */
.create-offer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0.5em;
}

.btn-create {
    background-color: #4A90E2;
    color: white;
    padding: 15px 25px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-create:is(:hover, :focus, :focus-within) {
    background-color: #357ABD;
}

/* Page de connexion */
.connexion {
    padding: 20px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0d0d0f;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.connexion h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .connexion {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.champ-connexion input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
    .champ-connexion {
        width: 70%;
    }
}

.btn-creer {
    background-color: #3366cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-creer:is(:hover, :focus, :focus-within) {
    background-color: #357ABD;
}

.champ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.champ p {
    margin: 0 0 5px 0;
}

.champ input {
    width: 100%;
}

.champ-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.connexion {
    margin-left: auto;
    margin-right: auto;
}

.btn-connexion {
    background-color: #3366cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-connexion:is(:hover, :focus, :focus-within) {
    background-color: #357ABD;
}

/*----------offre détaillée*/
/* Bloc 1 : Informations de l'offre */
.offer-details {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: white;
    overflow: hidden;
}

.offer-main-photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex: 1 1 90%;
    max-width: 90%;
    text-align: center;
}

.offer-main-photo img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.offer-main-photo .carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-photo-large {
    width: 100%;
    border-radius: 8px;
}

.offer-photo-gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.offer-photo-small {
    width: 48%;
    border-radius: 8px;
}

.offer-info {
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 90%;
    margin-top: 20px;
    word-wrap: break-word;
}

.offer-status {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.price,
.status,
.rating,
.hours {
    margin-bottom: 8px;
}

.open {
    color: green;
}

.btn-reserve {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

/* Bloc 3 : Avis */
.offer-reviews {
    background-color: white;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

.review-form {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review-rating {
    margin-bottom: 10px;
}

.btn-publish {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.offer-info h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    margin-bottom: 20px;
}

.review-summary {
    margin-bottom: 20px;
}

.rating-distribution {
    margin-top: 10px;
}

.offer-location {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
}

.offer-location p {
    margin: 5px 0;
}

.review {
    margin-bottom: 15px;
}

.review p {
    margin: 0;
}

/*------------fin offre detaillé------------*/
a:not(:hover, :focus, :focus-within) {
    text-decoration: none;
}

/* BOUTONS RADIO */
.radio_entr {
    display: flex;
    gap: 15px;
    align-items: center;
}

.radio_entr div {
    display: flex;
    align-items: center;
}

.radio_entr input[type=radio] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.radio_entr input[type=radio]:checked::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio_entr label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

#bloc_siren {
    display: block;
}

/* Section des catégories et sous-catégories */
.tag-selection {
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.categories,
#subcategories {
    margin-bottom: 20px;
}

.categories h3,
#subcategories h3 {
    color: var(--color-text);
    font-size: 1.2em;
    margin-bottom: 10px;
}

.category-dropdown select,
.subcategory-list {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subcategory-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.subcategory-list div {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-accent);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subcategory-list div:hover {
    background-color: var(--color-secondary);
}

.subcategory-list input[type=checkbox] {
    display: none;
}

.subcategory-list label {
    cursor: pointer;
}

.sorting-section {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sorting-section h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sorting-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.btn-sort {
    background-color: #4051FD;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-sort:hover {
    background-color: #2e3abd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-sort:active {
    background-color: rgb(4, 34, 65);
    transform: scale(0.98);
}

/* Section du formulaire de recherche */
.btn-sort {
    /* Your existing button styles */
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sort.active {
    background-color: #007bff;
    color: white;
}

.btn-sort:hover {
    background-color: #e0e0e0;
}

.btn-sort.active:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.carousel-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .carousel-container {
        max-width: 100%;
    }

    .carousel-prev,
    .carousel-next {
        padding: 8px;
        width: 35px;
        height: 35px;
    }
}

/* Image input component */
.input-image div img {
    width: 200px;
    height: auto;
}

#changer_mdp {
    padding: 20 px;
    width: 300px;
}

body#detail_compte {
    display: block;
}

body#detail_compte main {
    max-width: 900px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

section#info_compte {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section#info_compte div {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 0.5rem;
}

section#info_compte div p :not(.error) {
    margin: 0;
    font-weight: bold;
    color: #555;
}

section#info_compte div span {
    font-weight: normal;
    color: #333;
}

#info_compte :is(a, button[type=submit]) {
    display: inline-block;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

#info_compte a:hover {
    background-color: #2980b9;
}

#changer_mdp {
    display: flex;
    flex-direction: column;
}

.bandeau-etat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.bandeau-etat.vert {
    background-color: #d4f4dd;
    /* Vert pastel */
}

.bandeau-etat.rouge {
    background-color: #f4d4d4;
    /* Rouge pastel */
}

.bandeau-etat .bouton {
    margin: 0 10px;
    padding: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.bandeau-etat .bouton:hover {
    background-color: #eee;
    border-color: #999;
}

.bouton_principale_pro {
    max-width: 200px;
    margin: 2rem auto;
}

#bouton_creer_offre {
    max-width: 200px;
    margin: 2rem auto;
}

.review-list {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

.review-summary {
    margin-bottom: 30px;
}

.review {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 20px auto;
    display: inline-block;
    max-width: 80%;
    text-align: left;
}

.review-date {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    display: block;
}

.nb-offres {
    align-self: flex-start;
    margin-left: 40px;
    /* Ajustez si nécessaire pour un bon alignement */
}

#facturation {
    border-collapse: collapse;
    border: 1px solid;
    letter-spacing: 1px;
    margin: 10px;
    justify-content: center;
}

#facturation td {
    border: 1px solid;
    padding: 8px 10px;
}

.body-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background);
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-title {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-field {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: var(--color-accent);
    outline: none;
    box-shadow: 0 0 8px rgba(64, 81, 253, 0.2);
}

.error-text {
    color: var(--color-accent);
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 0.8rem 1.5rem;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: var(--color-secondary);
}

.signalement-flag {
    height: 1.2em;
}

.signalement-flag:is(:hover, :focus, :focus-within) {
    scale: 1.2;
    transition: .3s;
}

div > input {
    border-radius: 10px;
    border-color: #2980b9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

summary > input {
    border-radius: 10px;
    border-color: #2980b9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

label > input {
    border-radius: 10px;
    border-color: #2980b9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-signaler {
    padding: 0.8rem 1.5rem;
    background-color: #e74c3c;
    /* Rouge pour le bouton */
    color: white;
    border: 2px solid #e74c3c;
    border-radius: 10px;
    /* Arrondir les bords */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-report:hover {
    background-color: #c0392b;
    /* Couleur plus sombre au survol */
}

.btn-report:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.8);
    /* Lueur rouge au focus */
}

.spoiler:not(:hover, :focus, :focus-within) {
    filter: blur(.33em);
    transition: filter .1s;
}