@font-face {
    font-family: 'Tw Cen MT';
    src: url('fonts/Tw Cen MT.ttf') format('truetype');
}

:root {
    --color-text: #0d0d0f;
    --color-background: #f3f3f8;
    --color-primary: #4a55c5;
    --color-secondary: #8b94ee;
    --color-accent: #4051fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-secondary);
}

footer > div > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    height: fit-content;
    align-items: center;
}

footer > div > ul > li {
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

footer > div > ul > li > a {
    display: block;
}

footer > div:first-child img {
    width: 100px;
    height: 100px;
    border-radius: 3em;
}

footer > div:nth-child(2) {
    background-color: var(--color-primary);
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F8;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 60px; /* ajuste la hauteur selon le besoin */
}

.auth-button {
    display: flex;
    align-items: center;
    background-color: #4051FD;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto; /* Garde le bouton à droite */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.auth-button img {
    height: 30px;
    margin-right: 10px;
}

.auth-button span {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 16px;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .auth-button {
        padding: 8px 15px;
    }

    .logo img {
        height: 30px; /* Ajuster pour les plus petits écrans */
    }
}

/* Styles globaux */

h1, h2, h3 {
    color: #333;
}



/* Section de recherche */
.search-section {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-search {
    background-color: #3366cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.btn-search:hover {
    background-color: #357ABD;
}

/* Offres */
.offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.offer-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.offer-card:hover {
    transform: translateY(-5px);
}

.offer-card img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}

.offer-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.offer-card p {
    margin: 5px 0;
    color: #555;
}

.offer-card .location,
.offer-card .category,
.offer-card .price,
.offer-card .rating,
.offer-card .professional {
    font-size: 14px;
}

.offer-card .closing-soon {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.btn-more-info {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn-more-info:hover {
    background-color: #357ABD;
}

/* Sections des rubriques */
.highlight-offers, .new-offers, .recently-viewed {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight-offers h2, .new-offers h2, .recently-viewed h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .offer-card {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .offer-card {
        width: 100%;
    }
    
    .search-bar input {
        width: 70%;
    }
}


